.main-link {
   background-color: $mainHoverColor;
   box-shadow: 0px 12px 30px rgba(24, 92, 255, 0.18);
   border-radius: 6px;
   color: $mainLinkTextColor;
   display: inline-flex;
   align-items: center;
   justify-content: center;

   transition: all .3s ease-in-out;

   &:hover {
      background-color: $hoverColor;
   }
}