.statistic {
   padding: 70px 0;
   background-color: #185CFF;

   &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 30px;

      @include laptop {
         flex-direction: column;
         row-gap: 30px;
      }
   }

   &__item {
      padding: 0 30px;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &:not(:last-child):after {
         content: '';
         display: block;
         position: absolute;
         top: 50%;
         left: 85%;
         width: 92px;
         height: 1px;
         background-color: #F1F6FA;
         opacity: 0.2;
         transform: rotate(90deg);

         @include laptop {
            display: none;
         }
      }
   }

   &__number {
      font-weight: 800;
      font-size: 56px;
      line-height: 112px;
      letter-spacing: -0.025em;
      color: inherit;
      margin-bottom: 20px;

      @include laptop {
         font-size: 32px;
         margin: 0;
      }
   }

   &__descr {
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: -0.015em;
   }
}