<ul class="business__cards cards">
   <li class="cards__item">
      <img src="@img/cards icons/icon-1.svg" alt="#" class="cards__img">
      <h3 class="cards__title">Эффект видно сразу</h3>
      <p class="cards__desr">Сервис не нужно долго изучать — отдел продаж сможет тут же в нём работать.</p>
   </li>
   <li class="cards__item">
      <img src="@img/cards icons/icon-2.svg" alt="#" class="cards__img">
      <h3 class="cards__title">Клиенты вас запомнят</h3>
      <p class="cards__desr">Те, кто с вами работает, будут впечатлены скоростью и качеством подготовленных смет именно
         под запрос клиента.</p>
   </li>
   <li class="cards__item">
      <img src="@img/cards icons/icon-3.svg" alt="#" class="cards__img">
      <h3 class="cards__title">Продают даже без опыта</h3>
      <p class="cards__desr">В сервисе есть шаблоны, с помо-щью которых смету подготовит лю-бой новый сотрудник. Без
         вмеша-тельства руковадителя.</p>
   </li>
   <li class="cards__item">
      <img src="@img/cards icons/icon-4.svg" alt="#" class="cards__img">
      <h3 class="cards__title">Вы видите план продаж</h3>
      <p class="cards__desr">У каждой сметы есть статусы — вы понимаете, как идёт работа у каждого менеджера.</p>
   </li>
   <li class="cards__item">
      <img src="@img/cards icons/icon-5.svg" alt="#" class="cards__img">
      <h3 class="cards__title">Рентабельность</h3>
      <p class="cards__desr">Зарабатываете на каждой сделке. Это просто: ведь рентабельность у вас подсчитывается
         автоматически</p>
   </li>
   <li class="cards__item">
      <img src="@img/cards icons/icon-6.svg" alt="#" class="cards__img">
      <h3 class="cards__title">Подходит всем</h3>
      <p class="cards__desr">Вы продаете сами или у вас в подчинении десять продажников? Estimates.guru подойдёт всем.
      </p>
   </li>
</ul>