<ul class="price__cards price-cards">
   <li class="price-cards__item">
      <h3 class="price-cards__title">Starter</h3>
      <span class="price-cards__price">Free
         per editor/month</span>
      <a href="#!" onclick="return false;" class="price-cards__link main-link">Get started</a>
      <p class="price-cards__descr">1 Team users</p>
      <p class="price-cards__descr">3 Estimates</p>
      <p class="price-cards__descr">Estimatesguru watermark</p>
   </li>
   <li class="price-cards__item">
      <h3 class="price-cards__title">Standard</h3>
      <span class="price-cards__price">$20
         per editor/month</span>
      <a href="#!" onclick="return false;" class="price-cards__link main-link">Get started</a>
      <p class="price-cards__descr">3 Team users</p>
      <p class="price-cards__descr">Export to PDF</p>
      <p class="price-cards__descr">Export to XLS</p>
   </li>
   <li class="price-cards__item">
      <h3 class="price-cards__title">Professional</h3>
      <span class="price-cards__price">$50
         per editor/month</span>
      <a href="#!" onclick="return false;" class="price-cards__link main-link">Get started</a>
      <p class="price-cards__descr">For big teams – unlimited</p>
      <p class="price-cards__descr">Individual support</p>
      <p class="price-cards__descr">Multi-currency estimates</p>
      <p class="price-cards__descr">Analytics</p>
      <p class="price-cards__descr">CRM integration</p>
   </li>
</ul>